body {
    overflow: none;
    font-family: Roboto;
    margin: 0;
}

/* Neon colours */
.redneon-text {
    text-shadow: 0 0 10px #e47369, 0 0 15px #e47369, 0 0 20px #e47369, 0 0 80px #e71f0f, 0 0 100px #e71f0f; color: #e47369 !important;
}
.redneon-symbols {
    text-shadow: 0 0 10px #e47369, 0 0 15px #e47369, 0 0 30px #e71f0f, 0 0 40px #e71f0f;
    color: #e47369 !important;
}

.yellowneon-text {
    text-shadow: 0 0 10px #fafd99, 0 0 15px #fafd99, 0 0 20px #fafd99, 0 0 80px #fae723, 0 0 100px #fae723; color: #fafd99 !important;
}
.yellowneon-symbols {
    text-shadow: 0 0 10px #fafd99, 0 0 15px #fafd99, 0 0 30px #fae723, 0 0 40px #fae723;
    color: #fafd99 !important;
}

.greenneon-text {
    text-shadow: 0 0 10px #9ff97e, 0 0 15px #9ff97e, 0 0 20px #9ff97e, 0 0 80px #5bff1f, 0 0 100px #5bff1f; color: #9ff97e !important;
}
.greenneon-symbols {
    text-shadow: 0 0 10px #9ff97e, 0 0 15px #9ff97e, 0 0 30px #5bff1f, 0 0 40px #5bff1f;
    color: #9ff97e !important;
}

.blueneon-text {
    text-shadow: 0 0 10px #5d8cf7, 0 0 15px #5d8cf7, 0 0 20px #5d8cf7, 0 0 80px #1258f7, 0 0 100px #1258f7; color: #5d8cf7 !important;
}
.blueneon-symbols {
    text-shadow: 0 0 10px #5d8cf7, 0 0 15px #5d8cf7, 0 0 30px #1258f7, 0 0 40px #1258f7;
    color: #5d8cf7 !important;
}

/* Header section */
#header {
    display: none;
    text-align: center;
    padding-top: 25vh;
    height: 70vh;
}

/* Main Title */
.prompt {
    font-size: 6em;
    font-weight: 900;
}

.hacked {
    font-size: 6em;
}

.cursor {
    font-size: 7em;
    font-weight: 900;
}

@media only screen and (min-width: 400px) and (max-width: 720px) {
    .prompt {
        font-size: 15vw;
    }

    .hacked {
        font-size: 15vw;
    }

    .cursor {
        font-size: 15vw;
    }
}

@media only screen and (max-width: 400px) {
    .prompt, .hacked, .cursor {
        font-size: 11vw;
    }
}

/* One line description */
.description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
}

.description img {
    width: 7em;
}

.presented-by {
    width: 20em;
}

@media only screen and (min-width: 400px) and (max-width: 720px) {
    .description {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 400px) {
    .description {
        margin-top: 4vw;
        font-size: 8vw;
    }
}

/* Bottom links */
.sponsorship_request {
    width: 100%;
}

.sponsor_prompt {
    display: inline-block;
    font-size: 2em;
    font-weight: 200;
}

@media only screen and (min-width: 400px) and (max-width: 720px) {
    .sponsor_prompt {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 400px) {
    .sponsor_prompt {
        font-size: 4vw;
    }
}

.button {
    display: inline-block;
    text-decoration: none;
    border: 1pt solid white;
    color: white;
    padding: 7pt;
    border-radius: 6pt;
    font-size: 1em;
    font-weight: 200;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    text-transform: uppercase;
}

.button:hover {
    background-color: #37404a;
    color: white;
    text-decoration: none;
}

#mlh-trust-badge {
    display: block;
    max-width: 100px;
    min-width: 60px;
    position: fixed;
    right: 2%;
    top: 0;
    width: 10%;
    z-index: 10000;
}

#mlh-trust-badge img {
    width: 100%;
}

/* sections */
.marker-left, .marker-right {
    width: 5vw;
    position: absolute;
    top: 0;
    bottom: 0;
}

.divider, .divider-dark {
    display: inline-block;
    position: relative;
    width: 100%;
}

.divider {
    background-color: white;
}

.divider-dark {
    background-color: #171d24;
    color: white;
}

.marker-right {
    right: 0;
}

.section-content {
    padding: 30px;
}

.section-title {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}

.section-content > p {
    color: black;
    padding: 0 100px;
    font-weight: 300;
    margin: 8px 0px 18px;
    line-height: 1.5rem;
}

.small-title {
    font-size: larger;
    color: black;
    padding: 0 100px;
    text-transform: uppercase;
}

.accent-on-white {
    padding: 0 5px 2px;
    border-radius: 4px;
    top: -1px;
    margin: 0 3px 0 1px;
    background: #37404a;
    width: fit-content;
}

@media only screen and (max-width: 1080px) {
    .marker-left, .marker-right {
        width: 0;
    }

    .section-content > p, .small-title {
        padding: 0;
    }
}

/* FAQ */
.faq-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.faq-column-left, .faq-column-right {
    width: 40%;
}

ul {
    list-style: none;
}

p.question {
    cursor: pointer;
    user-select: none;
}

.answer {
    display: none;
    font-weight: 300;
}

.question-section .small-title {
    padding: 0;
}

@media only screen and (max-width: 1080px) {
    .faq-container {
        flex-direction: column;
        align-items: center;
    }

    .faq-column-left, .faq-column-right {
        width: 100%;
    }

    ul {
        padding: 0;
    }
}

/* map */
#map-section {
    background-color: white;
}

#map {
    margin: 50px;
}

@media only screen and (max-width: 1080px) {
    #map {
        margin: 0;
        margin-top: 30px;
    }
}

/* sponsors */
.sponsor-tier {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0em;
}

#sponsors > .section-content > .section-content {
    width: 71%;
    margin: 0px auto;
}

.sponsor {
    flex-grow: 1;
    margin: 2em;
}

.sponsor img {
    max-width: 100%;
    max-height: 100%;
}

.sponsor.title {
    flex-basis: 35%;
    max-width: 35%;
}

.sponsor.gold {
    flex-basis: 25%;
    max-width: 25%;
}

.sponsor.silver {
    flex-basis: 15%;
    max-width: 15%;
}
.sponsor.bronze {
    flex-basis: 15%;
    max-width: 15%;
}

@media only screen and (max-width: 1080px) {
    .sponsors {
        margin: 0;
    }

    .sponsor_tier {
        margin-bottom: 2em;
    }

    .sponsor {
        margin: 1em;
    }

    .sponsor.title {
        flex-basis: 50%;
        max-width: 50%;
    }

    .sponsor.gold {
        flex-basis: 38%;
        max-width: 38%;
    }

    .sponsor.silver {
        flex-basis: 22%;
        max-width: 22%;
    }

    .sponsor.bronze {
        flex-basis: 15%;
        max-width: 15%;
    }
}
